.catBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-size: cover;
}

#SeatingBanner {
    background-image: url('../images/category-seating.png');
  }
  
  #DesksBanner {
    background-image: url('../images/category-desks.png');
  }
  
  #TablesBanner {
    background-image: url('../images/category-tables.png');
  }
  
  #StorageBanner {
    background-image: url('../images/category-storage.png');
  }
  
  #BedroomBanner {
    background-image: url('../images/category-bedroom.png');
  }
  
  #MiscellaneousBanner {
    background-image: url('../images/category-miscellaneous.png');
  }