.terms{
    width: 75%;
    margin: 0 auto;
}


.termTitle{
    font-family: 'Playfair Display';
    font-size: 26px;
}

@media screen and (min-width: 1024px) {
    .termTitle{
        font-size: 40px;
    }
}