.menuNav a{
     display: block;
     text-align: center;
}

.menuNav {
     display: inline-block;
     text-align: center;
}

.addCarts{
    display: none
}

.navegacion{
     text-align: center;
     display: inline-block;
     height: auto;
     background: #222222;
     width: 100%;
     height: 70px;
}

.menuNav {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.openBtn{
    margin: 0;
    color: white;
    padding: 2px;
    background: #222222;
    outline: none;
    border: none
}

.openBtns{
     background-color: #222222;
}

.fa-bars{
     color: #fff;
     font-size: 20px;
     margin-right: 8px;
}
.menuNav a {
     margin: 0 7px 0 7px;
     text-align: center;
     color: white;
     text-decoration: none;
     text-transform: uppercase;
}
.menuNav a.activo {
     color: #fff;
}

.fa-shopping-cart{
     text-align: center;
     font-size: 35px;
     color: #fff;
}
.navegacions{
     display: none;
}

.addCarts span {
     position: relative;
     top: -24px;
     left: 42px;
     background-color: red;
     color: #fff;
     font-size: 11px;
     font-weight: 700;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     display: inline-block;
}

a.responItem.center {
     display: none;
 }

.none a{
     display: none;
}

a.responItem {
     width: 100%;
}

nav.navegacion {
     height: auto;
}

a.navBlue {
     color: #2196f3;
}

button.openBtn {
    display: block;
}

a.menuImg {
     display: none
}

.MenuHumger{
     display: flex;
     padding: 10px;
}

@media screen and (min-width: 1024px) {
   
    .menuNav {
        display: flex !important;
    }

    .menuNav a.responItem {
        width: auto;
    }

     a.responItem.center {
          display: block;
     }

     a.menuImg {
          display: block;
     }

     a.MenuImg1{
          display: none;
     }
     .MenuHumger{
          display: none;
     }
    .rah-static.rah-static--height-zero.animete > div {
        display: block !important;
    }

    button.openBtn {
        display: none;
    }

    .rah-static.rah-static--height-zero.animete {
        height: auto !important;
    }

    .addCarts{
        display: inline-block;
        margin-left:5px; 
        background-color: #FFC107;
        height: 66px;
        width: 38px;
    }

    .fa-shopping-cart{
        color: #222222;
    }

    .addCarts span {
        text-align: none;
        top: 10px;
        left: 17px;
        font-size: 11px;
    }
}