.menuFooter{
    display: flex;
    flex-wrap: wrap; 
}

.logoBlack{
    text-align: center;
}

.company{
    width: 100%;
    display: none;
   
}
.categories{
    width: 100%;
    display: none;
}

.social{
    display: block;
    padding-bottom: 110px;
    margin: 0 auto; 
    text-align: center;   
    
}

.socialIcon{
    margin:10px;
    color: black;
    background: white;
}

.titleFooter{
    color: #F44336;
}

.brFooter{
    color: #999999;
    width: 50px;
    margin-bottom: 0px;
}

hr{
    color: #999999; 
}

.subFooter a{
    color: #222222;
}


@media screen and (min-width: 1024px) {
    .menuFooter{
        text-align: center;
    }
    
    .company{
        width: 30%;
        margin-left: 100px;
        display: block;
    }
    .categories{
        width: 30%;
        display: block;
    }

    .social{
        display: block;
        width: 30%;
    }

    .brFooter{
        margin-bottom: 40px;
    }
    
}