.menuFooter{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.logoBlack{
text-align: center;
}

.company{
    width: 100%;
   
}
.categories{
    width: 100%;
}

.social{
    width: 100%;
}

.socialIcon{
    margin:10px;
    color: black;
    background: white;
}

.titleFooter{
    color: #F44336;
}

.brFooter{
    color: #999999;
    width: 50px;
    margin-bottom: 40px;
}
hr{
    color: #999999; 
}

.subFooter a{
    color: #222222;
}

@media screen and (min-width: 1024px) {
    .menuFooter{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .company{
        width: 30%;
        margin-left: 100px;
    }
    .categories{
        width: 30%;
    }

    .social{
        width: 30%;
    }
    
}